// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

$row-height: 40px;

ruler {
  position: absolute;
  left: 120px;
  top: 0;
  line {
    height: $row-height;
    display: block;
    &:before {
      content: '--' attr(data-index) '--';
    }
  }
}

.controls {
  top: 20px;
  left: 250px;
  position: absolute;
  width: 200px;
  text-align: center;
  border: 1px solid red;
  border-radius: 5px;

  input.range::before {
    content: 'Index' attr(value);
  }
}

people {
  border: 2px solid red;
  display: block;
  width: 200px;
  height: $row-height * 8;
  overflow-y: auto;
}


.item-row {
  display: block;
  border: 1px solid green;
  padding: 10px;
  box-sizing: border-box;
  height: $row-height;
  margin-top: 30px;
  margin-bottom: 10px;

  &.loading {
    > * {
     visibility: hidden;
    }
    border-color: blue;
    background-color: lightblue;
    &::after {
      content: 'loading ' attr(data-index);
      display: block;
      height: 0;
      width: 100%;
      text-align: center;
      position: relative;
    }
  }

  address {
    display: none;
  }
  &[expanded] {
    height: 5 * $row-height;
    address {
      padding: 35px;;
      display: block;
    }
  }

  &.item-row-first, &.item-row-last {
    background-color: yellow;
  }
  &:first-of-type, &:last-of-type {
    border-style: dashed;
  }
  &.header {
    background-color: #00eeee;
    height: 70px;
    font-size: 16px;
    line-height: 20px;
    padding: 0;
  }
  &::after {
    content: attr(data-index);
  }
}

prefix, suffix {
  background-color: #7e7e7e;
}
