// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

person-list {
  border: 2px solid red;
  display: block;
  width: 60%;
  height: 300px;
  overflow: auto;
}
person {
  display: block;
  border: 1px solid lightgreen;
  padding: 10px;
  margin: 5px;
  address {
    display: none;
  }
  &[expanded] {
    address {
      display: block;
    }
  }
}
